@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v20-cyrillic_latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v20-cyrillic_latin-700.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v48-cyrillic_latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-v48-cyrillic_latin-600.woff2') format('woff2');
}

:root {
  --color-brand-white: #ffffff;
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
  --color-gray-dark: #4a4a4a;
  --color-gray-light: #747272;
}

/* Base */
body {
  color: var(--color-brand-dark);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

ul {
  list-style-type: none;
}

/* Logo */
.logo {
  color: var(--color-brand-light);
  font-size: 22px;
  font-family: 'Play';
  font-weight: 700;
  line-height: 0.96;
  text-decoration: none;
}

/* Link */
.link {
  text-decoration: none;
  color: var(--color-brand-dark);
}

.link:hover {
  font-weight: 700;
  color: var(--color-brand-light);
}

/* .link-icon {
  width: 26.620460510253906px;
  height: 30.309825897216797px;
} */

/* Hero-Title */
.hero-title {
  color: var(--color-brand-light);
  font-family: 'Play';
  font-weight: 700;
  font-size: 140px;
  line-height: 0.8;
}

/* Button */
.button-title {
  color: var(--color-brand-white);
  font-weight: 600;
  background-color: var(--color-brand-light);
  border-radius: 32px;
  border: 2px, solid var(--color-brand-light);
  cursor: pointer;
}
.button-title:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}
.button-bottom {
  color: var(--color-gray-dark);
  font-size: 12px;
}

/* Section-title */
.section-title {
  color: var(--color-brand-dark);
  font-family: 'Play';
  font-size: 64px;
  font-weight: 700;
}
.section-title .accent {
  color: var(--color-brand-light);
}

/* Aboutus-section */
.aboutus-text {
  font-size: 22px;
}
.aboutus-text .accent {
  font-weight: 600;
}

/* Whyus-section */
.whyus-text {
  color: #000000;
  line-height: 1.3;
}

/* Products-section */
.products-text {
  color: var(--color-brand-white);
  line-height: 1.18;
  font-size: 22px;
}

/* Contacts-section */
.contacts-text {
  color: var(--color-brand-white);
  font-weight: 600;
  font-size: 22px;
}
.contacts-text .accent {
  color: var(--color-brand-light);
}
.contacts-copyright {
  font-size: 12px;
  color: var(--color-gray-light);
  text-decoration: none;
}
.contacts-copyright .accent {
  text-decoration: underline;
}
.contacts-button {
  color: var(--color-brand-white);
  border-radius: 32px;
  border: 2px, solid var(--color-brand-light);
  background-color: var(--color-brand-light);
  font-weight: 600;
  cursor: pointer;
}
.contacts-button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

/* Footer */
footer {
  background-color: var(--color-brand-dark);
}
.logo-footer {
  font-size: 24px;
  color: var(--color-brand-light);
  text-decoration: none;
  font-weight: 700;
  line-height: 0.9;
}
.link-footer {
  color: var(--color-brand-white);
  font-size: 16px;
  background-color: var(--color-brand-dark);
  text-decoration: none;
  font-style: normal;
}
.link-footer:hover {
  font-weight: 700;
  color: var(--color-brand-light);
}
.address-copyright {
  color: var(--color-gray-light);
  font-style: normal;
}
