.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  @media screen and (min-width: $bp-desktop) {
    background-image: linear-gradient(#ffffff40);
    backdrop-filter: blur(10px);
  }

  &__container {
    padding: 16px 0;
    display: flex;
    align-items: center;
    gap: 40px;

    @media screen and (min-width: $bp-desktop) {
      padding: 32px 0;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    gap: 40px;
  }

  &__menu {
    display: none;
    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 56px;
      flex-grow: 1;
      justify-content: center;
    }
  }

  &__burger {
    background-color: transparent;
    border: none;
    fill: var(--color-brand-white);
    padding: 0;
    width: 24px;
    height: 24px;
    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }

  &__button {
    height: 24px;
    width: 24px;
    fill: var(--color-brand-white);
  }
}
